$primary: #2C3E50
$secondary: #E74C3C
$alterntive: #ECF0F1
$alterntive2: #3498DB
$alterntive3: #2980B9




$family-sans-serif: 'Cairo', 'Roboto', sans-serif


@import '../node_modules/bulma/bulma'

.secondary-class
    font-family: 'Roboto', sans-serif
