@import '../node_modules/bulma/bulma'

html 
    font-family: 'Cairo', sans-serif

.secondary-class
    font-family: 'Roboto', sans-serif

$primary-color: #2C3E50
$secondary-color: #E74C3C
$alterntive: #ECF0F1
$alterntive2: #3498DB
$alterntive3: #2980B9